fastapi==0.115.14
gradio
requests==2.32.4
# llama-cpp-python
# langchain
# langchain_core
sentencepiece==0.2.0
mflux==0.9.0
uvicorn==0.30.0
pydantic==2.7.1
transformers
diffusers
torch
huggingface_hub
accelerate